@import url("https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap:100,200,300,400,500,600,700,800|Exo: 100,200,300,400,500,600,700,800");


/*------------------COLOURS----------------*/
 


/*------------------HEADER----------------*/


.main-header {
  position: absolute;
  margin: 20px;
  width: auto;
}

/* The navbar */
.header-nav {
  background-color: #000000;
  position:center;
  left:330px;
  top:150px;

}

/* Navbar links */
.header-nav a {
  font-family:"Black Ops One",sans-serif;;  
  float: right;
  color: white;
  text-align: center;
  padding: 2px 22px;
  text-decoration: none;
  font-size: 32px;
}

.header-nav a:hover {
   color:red;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


/*  Socail Med links */
.social-links {
  padding: 15px 25px 15px ;
    
   
}

.heading-text{
    font-family: "Black Ops One", sans-serif;
    color:red;
    margin-top:20px;
    margin-left:20px;
    font-size: 32px;
    font-weight:100;
    text-shadow: 2px 2px white;
  }

.social-links li a i {
    width: 40px;
    height: 40px;
    position: relative;
    padding: 12px 0px;
    border-radius: 50%;
    font-size: 28px;
    line-height: 17px;
    text-align: center;
    color: white;
    background: black;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color:red;
    background: white;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #55ACEE;
  color: white;
}


/*------------------SECTION----------------*/

 .review{
  position: relative;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
  font-size: 48px;
}


  .row-bios{
  margin-left: 20px;
    margin-right:20px;
    padding-left:20px;
    padding-right:20px;
  }


h1{
    font-family: "Black Ops One", sans-serif;
    color:white;
    font-size: 32px;
    font-weight:100;
    text-shadow: 2px 2px red;
    padding-left: 30px;
    
   }

h2{
  font-family: "Black Ops One", sans-serif;
    color:white;
    font-size: 28px;
    font-weight:100;
    text-shadow: 2px 2px red;
    }
    
h3{
  font-family: "Black Ops One", sans-serif;
    color:white;
    font-size: 25px;
    font-weight:100;
    text-shadow: 2px 2px red;
    }

span{
  color:white;
  text-shadow: 3px 3px red;
}

p{
  font-family: "Exo", sans-serif;
  font-size:22px;
  color:white;
  text-shadow: 1px 1px red;
  text-align: center;
  
  }
  
  hr { 
  display: block;
  color:white;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

img{
  box-shadow: 6px 6px 6px #aaa;
  }
  
.biotext{
  padding-left: 20px;
  padding-right: 20px;
  
  
}

   .tour-pos{
  display:inline-block;
  }
  


  .day{
    background-color:grey;
    width:250px;
    left:30px;
  }
  
  .date{
    background-color:red;
    width:250px;
    display:static;
    
  }
  
  .venue{
    background-color:grey;
    width:450px;
   
  }
  
  .tickets{
    background-color:grey;
    width:150px;
    
  }
 
  
  
  





/*------------------IMAGES----------------*/

.logo{
    background: url("../images/por_logo.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:280px;
    position: relative;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}   
    
       
 
.bandlogo{
    background: url("../images/por_bandpic_1.jpg");
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:260px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

 .chuckd{
    background: url("../images/chuck_d.jpg");
    background-position:left;
    background-repeat: no-repeat;
    min-height:280px;
    padding-top: 200px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    
 } 
 
 .band-bios{
  height: 100vh;
    background: url('../images/revolution.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
   .reviews {
    height: 100vh;
    background: url('../images/por_live.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: 0.8;
    filter: alpha(opacity=50);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tour{
    height: 100vh;
    background: url('../images/halfpennybridge.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.media{
  height: 100vh;
    background: url('../images/riots.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
  
}


.tour-table{
  position:relative;
  left:80px;
  bottom:60px;
  width:80%;
}

.media-table{
  position:relative;
  left:80px;
  bottom:20px;
  width:80%;
}





tr{
   font-family: "Black Ops One", sans-serif;
    color:white;
    font-size: 32px;
    font-weight:100;
    text-shadow: 2px 2px red;
 }
 
 td {
  height: 80px;
  vertical-align: middle;
  padding:10px;
}
 
 .tick-butt{
   background-color: grey;
   font-size: 25px;
 }
 
 .sold-out-butt{
   background-color: red;
   }
   
  .sold-out-text{
     text-decoration: line-through;
       }
       
  .new-date{
    font-size:25px;
    color:black;
    padding:4px;
    background-color: yellow;
    
  }
  
  ul{
    list-style:none;
  }
  
  


  

  
  
  
  
  
  
  



  







/*------------------FOOTER----------------*/

footer {
    background-color: black;
    color:white;
    min-height: 120px;
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.footer-headings {
    font-family: "Black Ops One", sans-serif;
    font-weight: 300;
    color: white;
    padding-top: 20px;
}

.inline-block {
    display: inline-block;
}

.footer-links li a {
    text-decoration: none;
    text-align: center;
    color: white;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-links li a :hover {
    color:red;
    background: white;
}

.sign-up-butt{
  padding: 20px 0px 0px 20px;
  
}




